{#
/**
* Block Name: Text Image
*
* This is the template that displays the text image block.
*/
#}

{% if is_preview %}
<p>Please click on the pencil to edit.</p>
{% endif %}

<div
  id="{{ block.id }}"
  class="b-text-and-image"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

        <p>{{cor_de_fundo.choice}}</p>
        <p>{{fields.posicionamento_de_imagem.value}}</p>


        {% if fields.texto %}
        <div class="richtext">
          {{ fields.texto }}
        </div>
        {% endif %}

        {% if fields.cta %}
        <a
          class="cta_button"
          href="{{fields.cta.url}}"
        >{{fields.cta.title}}</a>
        {% endif %}
      </div>

      <div class="col-lg-6">
        {% if fields.imagem %}

        <img
          class="img-fluid"
          src="{{ Image(fields.imagem).src }}"
          alt="{{ Image(fields.imagem).alt }}"
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% include "/partial/wave-divider.twig" %}
  {# <div class="logo-on-bg">
    <img
      src="{{theme.path}}/static/images/grafismoAlvorada.png"
      alt="Grafismo com logo da Alvorada Cogumelos"
    >
  </div> #}
</div>