{% extends "tease.twig" %}

{% block content %}
	<a class="blog-card" href="{{post.link}}">

		<div class="blog__thumb">
			{% if post.thumbnail.src %}
				<img src="{{post.thumbnail.src}}"/>
			{% else %}
				<img src="{{theme.path}}/static/images/AlvoradaCogumelos_Logo_FundoEscuro.jpg" alt="Logo Alvorada Cogumelos">
			{% endif %}
		</div>

		<div class="blog__teaser">

			{% if post.sub_titulo %}
				<h5>
					{{post.sub_titulo}}
				</h5>
			{% endif %}

			{% if post.title %}
				<h4>
					{{post.title}}
				</h4>
			{% endif %}

			{% if pot.content %}
				<p>
					{{post.content|slice(0, 100)}}
				</p>
			{% endif %}
		</div>

	</a>
{% endblock %}
